<div class="container center_div">
    <div class="col-md-4 offset-md-3">
        <h5>Registeration</h5>
        <form [formGroup]="registerUser" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div class="alert alert-danger" *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="dob">Date Of Birth</label>
                <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
                <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                    <div class="alert alert-danger" *ngIf="f.dob.errors.required">DOB is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="contact">Contact Number</label>
                <input type="text" formControlName="contact" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }" />
                <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                    <div class="alert alert-danger" *ngIf="f.contact.errors.required">Contact Number is required</div>
                    <div class="alert alert-danger" *ngIf="f.contact.errors.minlength">Valid Contact no's digit is 10 required</div>
                    <div class="alert alert-danger" *ngIf="f.contact.errors.maxlength">Valid Contact no's digit is 10 required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email Id</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div class="alert alert-danger" *ngIf="f.email.errors.required">Email is required</div>
                    <div class="alert alert-danger" *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-group">
                <label for="education">Education</label>
                <div>
                    <select formControlName="education" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.education.errors }">
              <option value="">--Select Qualification--</option>
              <option *ngFor="let list of gradList" [value]="list">{{list}}</option>
          </select>
                    <div *ngIf="submitted && f.education.errors" class="invalid-feedback">
                        <div class="alert alert-danger" *ngIf="f.education.errors.required">**Education is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div class="alert alert-danger" *ngIf="f.description.errors.required">description id is required </div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>